h1 {
  background-color: rgb(25, 121, 110);
    font-size: 2.5rem;
    font-style: normal;
    color: #ffffff;
    font-weight: 900;
    margin: 2rem 0 1rem;
    text-align: center;
  } 
  

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: auto;
  max-width: 75rem;
  padding: 0 1rem;
}

ul li:last-child {
  margin-left: auto;
}

  ul li a {
    color: #000000;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    display: inline;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  ul li a:hover {
    background-color: rgb(176, 178, 177);
    color: #000000;
  } 
  

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  
  /* Style for the painting grid */
.painting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.painting-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.painting-image {
  max-height: 300px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.painting-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  gap: 0.5rem;
  height: 5rem; 
}

.painting-details label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
} 

  
  