/* Style for the painting grid */
.painting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.painting-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.painting-image {
  max-height: 300px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.painting-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  gap: 0.5rem;
  height: 5rem; 
}

.painting-details label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
} 
